<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改用户</title>
 <!-- 引入css、jq、 bootstrap、chart -->
    <link href="css/bootstrap/3.3.6/bootstrap.min.css" th:src="@{css/bootstrap/3.3.6/bootstrap.min.css}" rel="stylesheet" />
    <script src="js/jquery/2.0.0/jquery.min.js" th:src="@{js/jquery/2.0.0/jquery.min.js}"></script>
    <script src="js/bootstrap/3.3.6/bootstrap.min.js" th:src="@{js/bootstrap/3.3.6/bootstrap.min.js}"></script>
    <script src="js/chartjs/2.8.0/chart.min.js" th:src="@{js/chartjs/2.8.0/chart.min.js}"></script>

</head>
<body>

	<div class="col-md-2 col-md-offset-5">
		欢迎：<span th:text="${username}"></span> 管理员 <a href="logout">注销用户</a>
	</div>
	
	<div>
		<form action="updateUserByIdF" method="post">
			编号：<input name="id" th:value="${user.id}" type="text">
			学号：<input name="username" th:value="${user.username}">
			密码：<input name="password" th:value="${user.password}">
			别名：<input name="user" th:value="${user.user}">
			角色：<input name="rid" th:value="${user.rid}">
			状态：<input name="online" th:value="${user.online}">
			<input type="submit" value="修改">
		</form>	
	</div>
	
</body>
</html>