<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台管理</title>
 <!-- js,jq文件 -->
<th:block th:include="layout/head :: head"></th:block>
<style>
	#head{
		width:100%;
		background-color:olive;
	}
	#left{
		width: 10%;
		height: 100%;
		background-color: orange;
	}
div.container div.row div {
    margin:5px 0px;
     
}
div.container div.row div {
    border: 1px solid gray;
    text-align:center;
}
</style>


</head>
<body>


<div class="container" id="head">
    <div class="row">
        <div class="col-xs-12 ">
         	 <!-- 头部文件 -->
   			 <div th:replace="layout/header :: header"></div>
   		</div>
    </div>
</div>
 
<div class="container">
    <div class="row">
        <div class="col-xs-2 " id="left">
        	<!-- 左部文件 -->
   			<div th:replace="layout/left :: left"></div>
        </div>
        <div class="col-xs-10 ">
        	<!-- 右部文件 -->
   			<div th:replace="layout/right :: right"></div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
        	<!-- 底部文件 -->
			<div th:replace="layout/footer :: footer"></div>
        </div>
    </div>
</div>



</body>
</html>