<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>实验室时间安排</title>
<!-- 引入css、jq、 bootstrap、chart -->
    <link href="css/bootstrap/3.3.6/bootstrap.min.css" th:src="@{css/bootstrap/3.3.6/bootstrap.min.css}" rel="stylesheet" />
    <script src="js/jquery/2.0.0/jquery.min.js" th:src="@{js/jquery/2.0.0/jquery.min.js}"></script>
    <script src="js/bootstrap/3.3.6/bootstrap.min.js" th:src="@{js/bootstrap/3.3.6/bootstrap.min.js}"></script>
    <script src="js/chartjs/2.8.0/chart.min.js" th:src="@{js/chartjs/2.8.0/chart.min.js}"></script>
<style type="text/css">
	table, td, th
  		{
  			border:1px solid black;
  		}
</style>
</head>
<body>

	<div>
		<table >
			<tr>
				<td>id</td>
				<td>实验室</td>
				<td>使用时间</td>
				<td>退出时间</td>
				<td>带课老师</td>
				<td>使用班级</td>
				<td>操作</td>
			</tr>
			<tr th:each="c:${list}">
				<td th:text="${c.id}">id</td>
				<td th:text="${c.classRoomId}">实验室</td>
				<td th:text="${c.loginTime}==null?'添加':${#dates.format(c.loginTime,'yyyy-MM-dd HH:mm')}">使用时间</td>
				<td th:text="${c.exitTime}==null?'添加':${#dates.format(c.exitTime,'yyyy-MM-dd HH:mm')}">退出时间</td>
				<td th:text="${c.teacherId}">带课老师</td>
				<td th:text="${c.collegeId}">使用班级</td>
				<td><a th:href="@{/deleteclassRoomD(id=${c.id})}">删除</a>|<a th:href="@{/updateclassRoomD(id=${c.id})}">修改</a></td>
			</tr>
		</table>
	</div>

</body>
</html>